footer
    div(class="f-footer col-xs-12")
        section(class="f-back1")
            div(class="container")
                div(class="col-xs-12")
                    div(class="visible-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt3_oculto")
                        img(src="app/img/inicio/Logo2.png")
                    div(class="hidden-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt1")
                        a(href="#" target="_blank")
                            h5 Síguenos en facebook
                                img(class="img-reponsive" src="assets/icons/fb.png")
                                img(class="img-reponsive" src="assets/icons/insta.png")
                    div(class="col-xs-12 col-sm-4 col-md-4 f-txt f-txt2")
                        a(href="#" target="_blank")
                            h5(class="scrollflow -pop -opacity") informes@companyperu.com
                    div(class="hidden-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt3")
                        img(src="assets/images/logo222.png" alt="")
                    div(class="visible-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt1_oculto")
                        a(href="#" target="_blank")
                            h5 facebook &nbsp
                                img(class="img-reponsive" src="assets/icons/fb.png")
                        a(href="#" target="_blank")
                            h5 instagram &nbsp
                                img(class="img-reponsive" src="assets/icons/insta.png")
