header
    section(class="h-header hidden-xs")
        div(class="container h-contain")
            div(class="h-logo")
                center
                    img(src="assets/images/logo22.jpg")
            div(class="h-redesSoc hidden-xs")
                a(href="http://www.facebook.com" target="_blank")
                img(class="h-redesSoc-img1" src="assets/images/facebook.png")
                img(class="h-redesSoc-img2" src="assets/images/instagram.png")
                img(class="h-redesSoc-img3" src="assets/images/whatsapp.png")
            div(class="h-nav col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10")
                ul
                    li(class="h-opcs")
                        a(class="activePage" id="activeInicio" href="#index") Inicio
                    li(class="h-opcs")
                        a(class="activeNosotros" id="activeNosotros" href="#nosotros") Nosotros
                    li(class="h-opcs")
                        a(class="activeServicios" id="activeServicios" href="#servicios") Servicios
                    li(class="h-opcs")
                        a(class="activeContactenos" id="activeContactenos" href="#contactenos") Contáctenos



    section(class="section-general section-header-rp visible-xs")
        div(class="col-xs-3")
            a(href="#index")
                img(class="logo-menu-rp" src="assets/images/logo22.jpg")
        div(class="sec-menu-rp")
            button(class="btn-menu-rp" id="btn-open-menu")
                div(class="line-btn-menu-rp")
                div(class="line-btn-menu-rp")
                div(class="line-btn-menu-rp")



    section(class="menu-rp")
        div(class="col-xs-12 sec-close-menu text-right")
            button(class="btn-close-menu no-btn" id="btn-close-menu")
                span(class="menu-rp-btn" aria-hidden="true")
        div(class="col-xs-12 text-center sec-lista-menu-rp")
            div(class="section-block sec-link-menu-rp")
                a(class="activePageM" id="activeInicio" href="#inicio") INICIO
            div(class="section-block sec-link-menu-rp")
                a(id="activeNosotros" href="#nosotros") NOSOTROS
            div(class="section-block sec-link-menu-rp")
                a(id="activeServicios" href="#servicios") SERVICIOS
            div(class="section-block sec-link-menu-rp")
                a(id="activeContactenos" href="#contactenos") CONTÁCTENOS
