section
    div(id="servicios" class="container")
        div(class="ser-sect3 col-xs-12")
            div(class="ser-sect2-titulo col-xs-12") ESTÁNDARES INTERNACIONALES
            div(class="ser-cuadros col-xs-12")
                div(id="ser-backg31" class="ser-backg1 col-xs-12 col-sm-6 col-md-3")
                    div(class="ser-backg-txt col-xs-12")
                        div(class="ser-backg-txt1 col-xs-12") ISO
                        div(class="ser-backg-txt2 col-xs-12") 9001:2015
                        div(id="ser-backg-txt31" class="ser-backg-txt3 animated bounceInUp col-xs-12") Sistema de Gestión de la Calidad
                div(id="ser-backg32" class="ser-backg2 col-xs-12 col-sm-6 col-md-3")
                    div(class="ser-backg-txt col-xs-12")
                        div(class="ser-backg-txt1 col-xs-12") ISO
                        div(class="ser-backg-txt2 col-xs-12") 45001:2018
                        div(id="ser-backg-txt32" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión de la Seguridad y Salud en el Trabajo
                div(id="ser-backg33" class="ser-backg3 col-xs-12 col-sm-6 col-md-3")
                    div(class="ser-backg-txt col-xs-12")
                        div(class="ser-backg-txt1 col-xs-12") ISO
                        div(class="ser-backg-txt2 col-xs-12") 14001:2015
                        div(id="ser-backg-txt33" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión Ambiental
                div(id="ser-backg34" class="ser-backg4 col-xs-12 col-sm-6 col-md-3")
                    div(class="ser-backg-txt col-xs-12")
                        div(class="ser-backg-txt1 col-xs-12") ISO
                        div(class="ser-backg-txt2 col-xs-12") 17025:2017
                        div(id="ser-backg-txt34" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión para Laboratorios de Ensayo y Calibración
    div(class="espacio-sliderclientes")
        div(class="sliderclientes" id="wrapper")
            - for (var client = 1; client < 11; client++)
                div(class="text-center")
                    center
                        img(src="assets/images/clientes/" + client + ".jpg" class="img-responsive")
