@import "vendor/jquery.fancybox.css"
@import "vendor/bootstrap.css"
@import "vendor/animate.css"
@import "vendor/slick.css"
@import "vendor/slick-theme.css"
@import "vendor/hover.css"

@import "style.css"
@import "efectos.css"
