/* General*/
header, footer, body {
    /*font-family: 'Open Sans' !important;*/
    font-family: 'Open Sans', sans-serif !important;
}

/*Header*/
header {
    padding-bottom: 20px;
}

.activePage {
    color: #2f527e !important;
}

.activePageM {
    border-bottom: solid 2px white !important;
}

.h-contain {
    background: white;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: none;
}

.h-contain-oculto {
    border-bottom: solid 1px #868686;
}

.h-logo img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.h-logo-oculto img {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h-nav .h-opcs {
    width: 25%;
    float: left;
    list-style: none;
    /*color: #828081;*/
    font-weight: bold;
    /*text-align: center;*/
}

.h-nav li {
    /*list-style: none;*/
}

.h-nav a {
    text-decoration: none;
    color: #868686;
    font-size: 18px;
}

.h-nav .h-opcs > a:hover {
    color: #01a1df;
}

.h-nav .h-servicios ul {
    display: none;
    position: absolute;
    min-width: 140px;
    /*left: 20px;*/
}

.h-nav .h-consultoria {
    background: #00a2e3;
    list-style-image: url('../img/inicio/icon-boton-slider.png');
    list-style-position: inside;
    padding: 8px 8px 5px;
}

.h-nav .h-consultoria a {
    font-size: 15px;
}

.h-nav .h-consultoria-oculto a {
    font-size: 14px;
}

.h-nav .h-auditoria {
    background: #2c5485;
    list-style-image: url('../img/inicio/icon-boton-slider.png');
    list-style-position: inside;
    padding: 8px 8px 5px;
    /*height: 10px;
    width: 10px;*/
}

.h-nav .h-auditoria a {
    font-size: 15px;
}

.h-nav .h-auditoria-oculto a {
    font-size: 14px;
}

.h-auditoria a, .h-consultoria a {
    color: white;
    font-size: 14px;
}

.h-nav li:hover > ul {
    display: block;
    z-index: 99999999;
    padding-left: 0 !important;
}

.h-consultaria {
    position: relative;
    top: -80px;
}

.h-auditoria {
    position: relative;
    /*top: 10px;*/
}

.h-submenu {
    position: relative;
    top: -2px;
}

/*||================MENU RESPONSIVE================||/*

/* Estilos*/
.menu-rp-btn {
    font-size: 32px;
    top: 19px;
    color: white;
    right: 21px;
    position: absolute !important;
    z-index: 999999;
    background-image: url('../assets/icons/x movil.png');
    height: 32px;
    width: 32px;
}

/*Menu Responsive*/
header {
    position: fixed !important;
    transition: all 0.4s;
    z-index: 9999;
    /*background: rgba(255, 255, 255, 0.66);*/
    width: 100%;
    top: 0 !important;
}

@media screen and (max-height: 335px) {
    .sec-lista-menu-rp {
        /*max-height: 100px;*/
        max-height: 220px;
        overflow-y: auto;
        height: 100%;
        position: absolute;
    }
}

.section-general {
    width: 100%;
    position: relative;
    float: left;
}

.section-header-rp {
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0px 0px 5px black;
    /*background: #015486;*/
    background: white;
}

.logo-menu-rp {
    width: 150px !important;
    padding-top: 9px;
}

.btn-menu-rp {
    width: 45px;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
}

.line-btn-menu-rp {
    width: 100%;
    height: 3px;
    float: left;
    background: #015486;
    margin: 4px 0;
    border-radius: 50px;
}

.sec-menu-rp {
    float: right;
    padding: 9px 15px 4px 5px;
}

.sec-link-menu-rp a {
    color: white;
    font-size: 22px;
    font-weight: 900;
}

.sec-link-menu-rp {
    padding-top: 15px;
    padding-bottom: 15px;
}

.sec-lista-menu-rp {
    padding-top: 30px;
    max-height: 600px;
    overflow-y: auto;
}

.no-btn {
    background: transparent !important;
    border: none;
    outline: none;
}

.section-block {
    width: 100%;
    position: relative;
    float: left;
}

/*Footer*/
.f-footer {
    padding-left: 0;
    padding-right: 0;
}

.f-back1 {
    background-color: #015486;
    padding-top: 25px;
    padding-bottom: 25px;
}

.f-back2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.f-noa, .f-noa:hover, .f-noa:active, .f-noa:focus {
    text-decoration: none;
    color: #0047bb;
    f-weight: 400;
}

.f-txt {
    text-align: center;
}

.f-txt2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.f-txt1 img {
    margin-left: 10px;
}

.f-txt3_oculto img {
    margin-top: 10px;
    margin-bottom: 11px;
}

.f-txt > h5 {
    color: white;
}

.f-txt a > h5 {
    color: white;
}

/*.f-txt>img{
	margin-bottom: 15px;
}*/

/*Inicio*/
.ini-carousel {
    padding-left: 0;
    padding-right: 0;
    margin-top: 65px;
}

.np {
    padding-left: 0;
    padding-right: 0;
}

.ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
    height: 420px;
    /*height: 305px;*/
}

.ini-s1-sldr1 {
    /*background-image: url(../img/inicio/slider.jpg);*/
    background-image: url("../assets/images/slider11.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*display: table;*/
}

.ini-s1-sldr2 {
    /*background-image: url(../img/inicio/slider22.png);*/
    background-image: url("../assets/images/slider22.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*display: table;*/
}

.ini-s1-sldr3 {
    /*background-image: url(../img/inicio/slider3.jpg);*/
    background-image: url("../assets/images/slider33.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*display: table;*/
}

.carousel-indicators li {
    background-image: url("../assets/icons/icon 1.png") !important;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border: none;
    margin: 0 2px;
    /*margin: 5px;*/
}

.carousel-indicators li:hover {
    background-image: url('../assets/icons/icon-chiquito-azul.png') !important;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    border: none;
    margin: -3px 2px;
}

.carousel-indicators .active {
    background-image: url('../assets/icons/icon-chiquito-azul.png') !important;
    /*background-image: url('../img/inicio/icon 1.png') !important;*/
    background-repeat: no-repeat !important;
    height: 26px;
    width: 26px;
    border: none;
    background: transparent;
    margin: -3px 2px;
}

/*.ini-s1-h2 {
	display: table-cell;
	vertical-align: center;
}
.ini-s1-txt {
	display: table-cell;
	vertical-align: center;
}*/
.ini-tabla {
    /*display: absolute;*/
    top: 55px;
    /*left: 235px;*/
    text-align: center;
}

.ini-tabla h2 {
    font-size: 30px;
    color: #2c5485;
    font-weight: bold;
}

.ini-tabla span {
    font-size: 35px;
}

.ini-s1-h2 {
    margin-bottom: 7px;
}

.ini-s1-parrafo h4 {
    color: #f1f2f5;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.ini-servicios {
    background: #015486;
    margin-top: 60px;
    /*margin-bottom: 60px;*/
    padding: 28px 0;
}

.ini-img-redondo1 {
    height: 290px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.ini-servicios-centro {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.ini-servicios-guion img {
    height: 14px;
    width: 14px;
}

.ini-servicios-btn {
    border-radius: 10px;
    border: solid 2px white;
    padding: 5px 20px;
    display: inline-block;
    color: white;
    margin-top: 15px;
}

.ini-servicios-btn:hover, .ini-servicios-btn:focus {
    color: #015486;
    background: white;
    font-weight: bold;
    text-decoration: none;
}

.ini-servicios-guion {
    margin-bottom: 15px;
    font-size: 14px;
}

.ini-servicios-titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
}

.ini-servicios-izq {
    /*background: red;*/
}

.ini-servicios-centro {
    /*background: green;*/
}

.ini-servicios-der {
    /*background: gray;*/
    padding-left: 0;
    padding-right: 0;
}

.ini-servicios-izqfoto img {
    margin-left: 0;
    margin-right: 0;
}

.ini-servicios-izqfoto {
    padding-left: 0;
    padding-right: 0;
}

.ini-img-redondo1 {
    height: 290px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -45px;
}

.ini-servicios-izqfoto img {
    margin-left: auto;
    margin-right: auto;
    bottom: 50px;
    position: relative;
}

/*** beneficios ***/
.ini-beneficios {
    background: #015486;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 42px 0;
}

.ini-beneficios-centro {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.ini-beneficios-guion img {
    height: 14px;
    width: 14px;
}

.ini-beneficios-btn {
    border-radius: 10px;
    border: solid 2px white;
    padding: 5px 20px;
    display: inline-block;
    color: white;
    margin-top: 15px;
}

.ini-beneficios-btn:hover, .ini-beneficios-btn:focus {
    color: #015486;
    background: white;
    font-weight: bold;
    text-decoration: none;
}

.ini-beneficios-guion {
    margin-bottom: 15px;
    font-size: 14px;
}

.ini-beneficios-titulo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 18px;
}

.ini-beneficios-izq {
    /*background: red;*/
}

.ini-beneficios-centro {
    /*background: green;*/
}

.ini-beneficios-der {
    /*background: gray;*/
    padding-left: 0;
    padding-right: 0;
}

.ini-beneficios-izqfoto img {
    margin-left: 0;
    margin-right: 0;
}

.ini-beneficios-izqfoto {
    padding-left: 0;
    padding-right: 0;
}

.ini-img-redondo1 {
    height: 290px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

.ini-img-redondo1beneficios {
    height: 290px;
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: -45px;*/
    margin-bottom: -15px;
}

.ini-beneficios-izqfoto img {
    margin-left: auto;
    margin-right: auto;
    /*bottom: 71px;*/
    /*bottom: -65px;*/
    bottom: -48px;
    position: relative;
}

/*.ini-servicios-tab {
	padding-left: 23px;
}*/
.ini-iconos-icono {
    padding-left: auto;
    padding-right: auto;
}

.ini-iconos-titulos {
    margin-top: 10px;
    font-size: 18px;
    color: #7f8183
}

.ini-iconos-espacio {
    margin-bottom: 80px;
    margin-top: 20px;
}

.ini-iconos-icono2 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.ini-ayuda-backg {
    background-image: url('../img/inicio/slider2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 210px;
    margin-bottom: 40px;
    color: white;
}

.ini-ayuda-btn {
    border-radius: 10px;
    border: solid 2px white;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.ini-ayuda-btn:hover, .ini-ayuda-btn:focus {
    color: #015486;
    background: white;
    font-weight: bold;
    text-decoration: none;
    /*transition: all 0.1s;*/
}

.ini-ayuda-txt h2 {
    font-weight: bold;
}

.ini-ayuda-txt {
    color: #013e7d;
    font-weight: bold;
    font-size: 23px;
}

.ini-ayuda-contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-submenu-img {
    height: 10px;
    width: 10px;
}

.sec-lista-menu-rp {
    max-height: 400px;
    top: 42%;
    transform: translateY(-50%);
    /* background: red; */
    padding-top: 5%;
    padding-bottom: 5%;
}

/*.ini-servicios-block1 {
    display: inline-block !important;
    position: relative;
    top: -21px;
}
.ini-servicios-block2 {
    display: inline-block !important;
    padding-left: 1px;
}
.ini-servicios-block3 {
    display: inline-block !important;
    position: relative;
    top: -2px;

}
.ini-servicios-block4 {
    display: inline-block !important;
    padding-left: 1px;
}*/

/*Nosotros*/
.nos-bienv-backg, .ser-bienv-backg {
    margin-top: 67px;
    background-image: url('../img/nosotros/slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.ben-bienv-backg {
    margin-top: 67px;
    background-image: url('../img/beneficios/slider1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.con-bienv-backg {
    margin-top: 67px;
    background-image: url('../img/contactenos/slider.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.nos-bienv-backg h2, .ser-bienv-backg h2 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 25px;
    /*font-weight: bold;*/
    letter-spacing: 0px;
}

.ben-bienv-backg h2 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 16px;
    /*font-weight: bold;*/
    letter-spacing: 0px;
}

.con-bienv-backg h2 {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 16px;
    /*font-weight: bold;*/
    letter-spacing: 0px;
}

.nos-sect2 {
    margin: 0;
    padding: 0;
}

.ser-sect2 {
    margin: 10px 0;
    padding: 0;
}

.nos-sect2-izq {
    margin-top: 50px;
    padding: 0;
}

.ser-sect2-izq {
    margin-top: 50px;
    padding: 0;
}

.nos-sect2-der {
    margin: 30px auto;
    padding: 0 30px;
}

.ser-sect2-der {
    margin: 30px auto;
    padding: 0 30px;
}

.ser-sect2-der {
    margin: 30px auto 75px auto;
    padding: 0 30px;
}

.ser-sect3-der {
    margin: 30px auto;
    padding: 0 30px;
}

.nos-sect3-izq, .nos-sect3-der {
    margin: 20px 0;
}

.ser-sect3-izq, .ser-sect3-der {
    margin: 30px 0 60px;
}

.nos-sect2-arriba {
    margin-bottom: 40px;
}

.nos-sect2-titulo {
    color: #013e7d;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ser-sect2-titulo {
    color: #013e7d;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nos-sect2-fila {
    margin-bottom: 5px;
}

.ser-sect2-fila {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

.nos-sect2-parr1, .nos-sect2-parr2 {
    color: #013e7d;
}

.ser-sect2-parr1, .ser-sect2-parr2 {
    color: #013e7d;
}

.nos-sect2-parr1 {
    text-align: justify;
}

.ser-sect2-parr1 {
    text-align: justify;
}

.nos-sect2-parr2 div {
    padding: 0;
}

.ser-sect2-parr2 div {
    padding: 0;
}

.nos-sect3 {
    /*padding: 0 45px;*/
    margin-bottom: 60px;
}

.ser-sect3 {
    /*padding: 0 45px;*/
    margin-bottom: 15px;
}

.nos-sect3-backgIzq, .nos-sect3-backgDer {
    background-image: url('../img/nosotros/mision1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 335px;
}

.nos-sect3-backgDer {
    background-image: url('../img/nosotros/vision1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 335px;
}

.nos-sect3-backgIzq:hover, .nos-sect3-backgIzq:focus {
    background-image: url('../img/nosotros/mision.jpg');
    transition: all 0.3s;
}

.nos-sect3-backgDer:hover, .nos-sect3-backgDer:focus {
    background-image: url('../img/nosotros/vision.jpg');
    transition: all 0.3s;
}

.nos-sect3-visible {
    color: white;
    visibility: hidden;
    padding: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nos-sect3-titulo {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nos-sect3-parr {
    text-align: justify;
}

.nos-sect3-backgIzq:hover .nos-sect3-visible {
    visibility: visible;
}

.nos-sect3-backgDer:hover .nos-sect3-visible {
    visibility: visible;
}

.nos-sect2-tab {
    padding-left: 5px;
}

.nos-sect3-backgIzq {
    padding: 0 10px;
}

/*Servicios*/
.ser-bienv-backg {
    margin-top: 67px;
    background-image: url('../img/servicios/slider.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
}

.ser-col-1 {
    width: 28px;
}

.ser-backg1 {
    background-image: url('../assets/images/servicios/fondo2.png');
}

.ser-backg2 {
    background-image: url('../assets/images/servicios/fondo3.png');
}

.ser-backg3 {
    background-image: url('../assets/images/servicios/fondo2.png');
}

.ser-backg4 {
    background-image: url('../assets/images/servicios/fondo3.png');
}

.ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
    background-repeat: no-repeat;
    transition: 1s;
    background-size: cover;
    background-position: center;
    height: 215px;
}

.ser-backg1:hover, .ser-backg1:focus, .ser-backg2:hover, .ser-backg2:focus, .ser-backg3:hover, .ser-backg3:focus, .ser-backg4:hover, .ser-backg4:focus {
    background-image: url('../img/servicios/fondo1.png');
    cursor: pointer;
}

.ser-backg-txt {
    text-align: center;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.ser-backg-txt1 {
    font-size: 30px;
    font-weight: bold;
}

.ser-backg-txt2 {
    font-size: 20px;
}

.ser-img-der {
    margin-left: auto;
    margin-right: auto;

}

.ser-backg-txt3 {
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
}

.ser-sect2-filas, .ser-sect3-filas {
    text-align: justify;
}

.ser-bienv-titulo1 {
    font-size: 40px;
    color: white;
    top: 320px;
    left: 100px;
}

.ser-bienv-titulo2 {
    font-weight: bold;
}

.nos-bienv-titulo1 {
    font-size: 40px;
    color: white;
    /*top: 250px;*/
    /*left: 100px;*/
}

.nos-bienv-titulo2 {
    font-weight: bold;
}

.nos-img-icono {
    height: 14px;
    width: 14px;
}

.ser-img-icono {
    height: 14px;
    width: 14px;
}

.padiconinicio {
    width: 20px;
}

/*Beneficios*/
.ben-bienv-titulo2 {
    font-size: 25px;
    font-weight: bold;
}

.con-bienv-titulo2 {
    font-size: 25px;
    font-weight: bold;
}

.ben-sect2-titulo {
    font-size: 30px;
    color: #013e7d;
    font-weight: bold;
    margin-bottom: 20px;
}

.ben-sect3-izq {
    /*margin-top: 67px;*/
    background-image: url('../img/beneficios/foto.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
}

.ben-sect3-der {
    background-color: #013e7d;
    padding-bottom: 25px;
    /*background-image: url('../img/beneficios/contenedor.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 370px;*/
}

.ben-sect4-izq {
    /*margin-top: 67px;*/
    background-image: url('../img/beneficios/foto2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 125px;
}

.ben-sect4-der {
    background-color: #013e7d;
    padding-bottom: 25px;
    /*background-image: url('../img/beneficios/contenedor.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 230px;*/
}

.ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
    /*height: 200px;*/
    color: white;
    padding-top: 23px;

}

.ben-sect3-der, .ben-sect4-der {
    margin-bottom: 50px;
}

.ben-img-icono {
    height: 14px;
    width: 14px;
}

/*.ben-sect4-izq, .ben-sect4-der {
    margin-bottom: 100px;
}*/
.ben-sect2 {
    margin: 60px 0 50px;
}

.ben-sect2-parr {
    text-align: justify;
}

/*ContÃ¡ctenos*/
.con-formulario {
    font-size: 18px;
    color: #013e7d;
}

.con-input input, .con-input select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.con-fila2 textarea {
    width: 100%;
    height: 150px;
}

.con-fila {
    margin: 15px 0;
}

.con-fila2 {
    margin: 30px 0;
}

.con-fila {
    padding: 0;
}

.con-titulo {
    color: #013e7d;
    font-size: 30px;
    font-weight: bold;
    margin: 60px 0 10px;
}

.con-radio1 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.con-radio2 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.con-txt-linea1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.con-txt-linea2 {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 40px;
}

.con-asterisco {
    color: red;
}

.con-btnEnviar {
    margin-bottom: 60px;
}

.con-btnEnviar button {
    background-color: #013e7d;
    border-radius: 10px;
    color: white;
    padding: 5px 40px;
}

.con-checkbox {
    padding-left: 15px;
}

/*CONTACTENOS*/
.formulario-contactenos {
    float: left;
    width: 100%;
}

.slider-contactenos {
    float: left;
    width: 100%;
    margin-top: 115px;
}

.contacto-datos {
    float: left;
    width: 100%;
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.titulo-contactenos {
    font-family: 'Montserrat Bold', sans-serif;
    color: #003786;
}

.pad1-contactenos {
    padding-left: 40px;
    padding-right: 40px;
}

.subrayado-contactenos {
    height: 2px;
    background-color: #003786;
    width: 11%;
    margin-top: -6px;
}

.subrayado-contactenos {

    width: 11%;

}

.datos-contacto {
    padding-top: 20px;
    margin-top: 45px;
    margin-bottom: 20px;
    padding-bottom: 55px;
    border-bottom: 1px solid #979797;
}

.name-contacto p {
    color: #545454;
    font-family: 'Montserrat Bold', sans-serif;
    margin-top: 8px;
}

.mas-contacto {
    color: #979797;
    font-family: 'Montserrat Light', sans-serif;
    margin-top: 10px;
}

.pad2-contactenos {
    padding-left: 60px;
    padding-right: 60px;
}

.texto-contactenos {
    color: #545454;
    font-family: 'Montserrat Bold', sans-serif;
    padding-top: 25px;
    margin-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.formulario-contactenos {
    padding-left: 300px;
    padding-right: 300px;
}

.cambio-mensaje {
    padding-bottom: 75px;
}

.estilo-llenadoform {
    background-color: #f7f7f7;
    border-radius: 5px;
}

.estilo-llenadoform::placeholder {
    font-family: 'Montserrat Light', sans-serif;
    color: #545454;
    font-size: 14px;
}

.estilo-btnenviar {
    padding: 10px 60px 10px 60px;
    border: 0px;
    border-radius: 5px;
    background-color: #003786;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat Light', sans-serif;
}

.ini-ayuda {
    margin-top: 60px;
}

.sliderclientes {
    background: transparent;
    margin-top: 120px;
}

.slick-next {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../assets/icons/arrow-r.png');
    background-repeat: no-repeat;
    right: -60px;
}

.slick-next:hover, .slick-next:focus {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../assets/icons/arrow-r.png');
    background-repeat: no-repeat;
}

.slick-prev {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../assets/icons/arrow-l.png');
    background-repeat: no-repeat;
    left: -60px;
}

.slick-prev:hover, .slick-prev:focus {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url('../assets/icons/arrow-l.png');
    background-repeat: no-repeat;
}

.espacio-sliderclientes {
    padding-left: 250px;
    padding-right: 250px;
}

.slick-prev:before, .slick-next:before {
    visibility: hidden;
}

/*Responsive*/

/* iphone 4 */
@media (max-width: 320px) {

}

/*Fin 320*/

@media (min-width: 320px) {

    .espacio-sliderclientes {
        padding-left: 80px;
        padding-right: 80px;
    }

    .pad2-contactenos {
        padding-left: 0px;
        padding-right: 0px;
    }

    .formulario-contactenos {
        padding-left: 0px;
        padding-right: 0px;
    }

    .padtextinicio, .padiconinicio {
        padding-left: 0;
    }

    .menu-rp {
        /*width: 0%;
        height: 0%;
        z-index: 9999999;
        position: fixed;
        background: #015486;
        right: 0;
        overflow: hidden;
        transition: all 0.4s;*/

        width: 0%;
        height: 0%;
        z-index: 9999999;
        position: fixed;
        background: rgba(1, 84, 134, 0.9);
        right: 0;
        overflow: hidden;
        transition: all 0.4s;
    }
}

/*Fin 320*/

@media (min-width: 375px) {
    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        /*height: 345px;*/
        height: 467px;
    }

    .nos-sect2-izq {
        margin-top: 50px;
        padding: 15px;
    }

    .nos-sect2-der {
        padding: 0 45px;
    }

    .ser-sect2-der {
        padding: 0 45px;
    }

    .ser-sect3-der {
        padding: 0 45px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 235px;
    }

    .ser-cuadros {
        padding: 0 15px;
    }

    .ser-backg-txt3 {
        padding-left: 15px;
        padding-right: 15px;
        /*margin-top: 15px;*/
    }

    .padiconinicio {
        width: 25px;
    }
}

@media (min-width: 358px) {
    .ini-servicios-tab {
        padding-left: 0px;
    }

    .ini-servicios-tab2 {
        padding-left: 23px;
    }
}

/*Fin 358*/

@media (min-width: 410px) {
    .ini-servicios-tab2 {
        padding-left: 0px;
    }
}

/*Fin 410*/

@media (min-width: 425px) {
    .ini-img-redondo1 {
        height: 300px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -25px;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        /*height: 170px;*/
        /*height: 358px;*/
        /*height: 615px;*/
        height: 467px;
    }

    .nos-bienv-backg {
        height: 195px;
    }

    .ser-bienv-backg {
        height: 195px;
    }

    .ben-bienv-backg {
        height: 195px;
    }

    .con-bienv-backg {
        height: 195px;
    }

    .nos-sect2-der {
        padding: 0 45px;
    }

    .ser-sect2-der {
        padding: 0 45px;
    }

    .ser-sect3-der {
        padding: 0 45px;
    }

    .nos-sect3 {
        padding: 0 45px;
        margin-bottom: 60px;
    }

    .ser-sect3 {
        padding: 0 45px;
        margin-bottom: 60px;
    }

    .nos-sect3-backgIzq {
        padding: 0 15px;
    }

    .ser-sect3-backgIzq {
        padding: 0 15px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 235px;
    }

    .ser-backg-txt3 {
        padding-left: 30px;
        padding-right: 30px;
        /*margin-top: 15px;*/
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {

        color: white;
        padding-top: 25px;
        /*margin-bottom: 50px;*/
    }

    .ben-sect4-izq, .ben-sect4-der {
        /*margin-bottom: 100px;*/
    }

    .ben-sect3-izq, .ben-sect4-izq {
        /*margin-bottom: 100px;*/
        height: 200px;
    }
}

/*Fin 425*/

/* especial */
@media (min-width: 560px) {
    .ini-img-redondo1 {
        height: 400px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -25px;
    }

    .ini-img-redondo1beneficios {
        height: 400px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        /*margin-bottom: -45px;*/
        margin-bottom: -10px;
    }

    .ini-servicios-titulo {
        padding: 0 19%;
    }

    .ini-servicios-guion {
        padding: 0 19%;
    }

    .ini-servicios-izqfoto img {
        margin-left: auto;
        margin-right: auto;
        bottom: 80px;
        position: relative;
    }

    .ini-servicios {
        background: #015486;
        margin-top: 60px;
        /*margin-bottom: 30px;*/
        padding: 50px 0;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        height: 225px;
        /*height: 138px;*/
    }

    .ini-tabla h2 {
        font-size: 25px;
        color: #2c5485;
        font-weight: bold;
    }

    .ini-tabla span {
        font-size: 30px;
    }

    .ini-tabla {
        /*display: absolute;*/
        top: -5px;
        /*left: 235px;*/
        text-align: center;
    }

    .ini-s1-parrafo h4 {
        padding-left: 20%;
        padding-right: 20%;
    }

    .ini-beneficios-guion {
        padding: 0 19%;
    }

    .ini-beneficios-izqfoto img {
        bottom: -60px;
    }

    .ser-bienv-backg {
        height: 265px;
    }

    .nos-bienv-backg h2, .ser-bienv-backg h2 {
        bottom: 25px;
        left: 55px;
    }

    .ben-bienv-titulo2 {
        font-size: 31px;
    }

    .ben-bienv-backg h2 {
        bottom: 25px;
        left: 55px;
        font-size: 20px;
    }

    .con-bienv-backg h2 {
        bottom: 25px;
        left: 55px;
        font-size: 20px;
    }

    .nos-sect2-der {
        padding: 0 70px;
    }

    .ser-sect2-der {
        padding: 0 70px;
    }

    .ser-sect3-der {
        padding: 0 70px;
    }

    .nos-sect3-backgIzq {
        padding: 0 45px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 235px;
    }

    .ser-sect2-abajo {
        margin: 0px;
    }

    .ser-cuadros {
        padding: 0 15px;
    }

    .ben-bienv-backg {
        height: 268px;
    }

    .con-bienv-backg {
        height: 268px;
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
        height: 210px;
        color: white;
        padding-top: 25px;
        /*margin-bottom: 50px;*/
    }

    .ben-sect4-izq, .ben-sect4-izq {
        height: 270px;
    }

}

/*Fin 560*/

@media (min-width: 670px) {
    .nos-sect2-der {
        padding: 0 115px;
    }

    .ser-sect2-der {
        padding: 0 115px;
    }

    .ser-sect3-der {
        padding: 0 115px;
    }
}

@media (min-width: 768px) {
    .espacio-sliderclientes {
        padding-left: 100px;
        padding-right: 100px;
    }

    .pad2-contactenos {
        padding-left: 60px;
        padding-right: 60px;
    }

    .formulario-contactenos {
        padding-left: 110px;
        padding-right: 110px;
    }

    .ini-img-redondo1 {
        right: 0 !important;
    }

    .f-txt1 img {
        margin-left: 25px;
        margin-top: 10px;
    }

    .menu-rp {
        width: 0%;
        height: 0%;
        position: fixed;
        background: #fde686;
        right: 0;
        overflow: hidden;
        transition: all 0.4s;
    }

    .f-txt2 {
        margin-top: 15px;
    }

    .f-txt3 img {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ini-tabla span {
        font-size: 45px;
    }

    .ini-tabla {
        text-align: left;
        top: 10px;
        /*left: 14.5%;*/
        margin-left: 25%;
        /*margin-right: 350px;*/
    }

    .ini-servicios-centro {
        color: white;
        padding-left: 13px;
        padding-right: 13px;
    }

    .ini-img-redondo1 {
        position: absolute;
        top: -85px;
        /*right: -15px;*/
        height: 450px;
        width: 450px;
    }

    .ini-img-redondo1 {
        position: absolute;
        top: -85px;
        right: -10px;
        height: 450px;
        width: 450px;
    }

    .ini-img-redondo1beneficios {
        position: absolute;
        top: 67px;
        /*right: -10px;*/
        height: 450px;
        width: 450px;
    }

    . /*ini-servicios-tab {
		padding-left: 23px;
	}*/
        /*.ini-servicios-izqfoto img {
            margin-left: 15px;
            margin-right: 15px;
        }*/
    .ini-servicios-izqfoto {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ini-img-redondo1 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .ini-servicios-izqfoto img {
        /*margin-left: 0;
        margin-right: 0;
        bottom: 0px;*/
        margin-bottom: -50px;

    }

    /*** beneficios ***/
    .ini-beneficios-centro {
        color: white;
        padding-left: 13px;
        padding-right: 13px;
    }

    .ini-beneficios-tab {
        padding-left: 21px;
    }

    .ini-beneficios-izqfoto {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ini-img-redondo1 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .ini-beneficios-izqfoto img {
        /*margin-left: 0;
        margin-right: 0;
        bottom: 0px;*/
        margin-bottom: -2px;

    }

    .ini-servicios-titulo {
        padding: 0 15px;
    }

    .ini-servicios-guion {
        padding: 0 15px;
    }

    .ini-servicios {
        background: #015486;
        margin-top: 60px;
        /*margin-bottom: 0px;*/
        padding: 50px 0;
    }

    .ini-iconos-icono2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        height: 305px;
        /*height: 138px;*/
    }

    .ini-tabla h2 {
        font-size: 35px;
        color: #2c5485;
        font-weight: bold;
    }

    .ini-tabla span {
        font-size: 40px;
    }

    .ini-s1-parrafo h4 {
        padding-left: 0;
        padding-right: 0;
    }

    .ini-carousel {
        padding-left: 0;
        padding-right: 0;
        margin-top: 158px;
    }

    /*.ini-carousel-oculto {
        padding-left: 0;
        padding-right: 0;
        margin-top: 118px;
    }*/
    /* Header oculto */
    .h-header-oculto {
        /*background: blue;*/
    }

    .h-logo-oculto {
        /*background: red;*/
    }

    .h-nav-oculto {
        /*background: green;*/
        padding-left: 0;
        padding-right: 0;
        margin-top: 32px;
    }

    .h-contain-oculto {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }

    .h-nav-oculto li {
        /*background: orange;*/
    }

    .h-nav-oculto li a {
        font-size: 14px;
    }

    .h-nav-inicio {
        text-align: center;
    }

    .ini-beneficios-guion {
        padding: 0 15px;
    }

    .ini-servicios-tab {
        padding-left: 10px;
    }

    .ini-servicios-tab2 {
        padding-left: 0px;
    }

    /*.prueba1, .prueba2 {
        display: block;
    }*/
    /*.prueba1 {
        width: 10px !important;
        display: inline-block !important;
    }
    .prueba2 {
        width: 80px !important;
        display: inline !important;
    }*/
    .ini-servicios-block1 {
        display: inline-block !important;
        position: relative;
        top: -20px;
    }

    .ini-servicios-block2 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .ini-servicios-block3 {
        display: inline-block !important;
        position: relative;
        top: -2px;

    }

    .ini-servicios-block4 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .ini-beneficios-guion img {
        height: 14px;
        width: 14px;
    }

    .h-logo-oculto img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 184px;
    }

    .h-nav-nosotros {
        /*text-align: center;*/
        padding-left: 10px;
    }

    .h-redesSoc {
        float: right;
        margin-top: -70px;
        margin-right: 5%;
        position: relative;
        z-index: 99999999;
    }

    .h-redesSoc a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .ini-beneficios-izqfoto img {
        bottom: -55px;
    }

    .f-txt3 {
        margin-top: 10px;
    }

    .nos-bienv-backg {
        margin-top: 157px;
        height: 470px;
    }

    .ser-bienv-backg {
        margin-top: 157px;
        height: 350px;
    }

    .ben-bienv-backg {
        margin-top: 157px;
        height: 345px;
    }

    .con-bienv-backg {
        margin-top: 157px;
        height: 265px;
    }

    .nos-bienv-backg h2, .ser-bienv-backg h2 {
        color: white;
        position: absolute;
        bottom: 50px;
        left: 50px;
        font-size: 40px;
        /*font-weight: bold;*/
        letter-spacing: 2px;
    }

    .ben-bienv-titulo2 {
        font-size: 34px;
    }

    .ben-bienv-backg h2 {
        color: white;
        position: absolute;
        bottom: 50px;
        left: 50px;
        font-size: 22px;
        /*font-weight: bold;*/
        letter-spacing: 0px;
    }

    .con-bienv-backg h2 {
        color: white;
        position: absolute;
        bottom: 50px;
        left: 50px;
        font-size: 22px;
        /*font-weight: bold;*/
        letter-spacing: 0px;
    }

    .nos-sect2 {
        margin: 60px 0;
        padding: 0 15px;
    }

    .ser-sect2 {
        margin: 60px 0 60px 0; /*margin: 60px 0;*/
        padding: 0 15px;
    }

    .nos-sect2-izq {
        margin-top: 0px;
        padding: 0 15px;
    }

    .ser-sect2-izq {
        margin-top: 0px;
        padding: 0 15px;
    }

    .nos-sect2-der {
        padding: 0px;
    }

    .ser-sect2-der {
        padding: 0px;
    }

    .ser-sect3-der {
        padding: 0px;
    }

    .nos-sect3 {
        padding: 0 45px;
        margin-bottom: 60px;
    }

    .ser-sect3 {
        padding: 0 45px;
        margin-bottom: 60px;
    }

    .nos-sect2-arriba {
        margin-bottom: 30px; /*50*/
    }

    .nos-sect2-der {
        margin: 15px auto; /*0*/
        padding: 0 0px; /*30*/
    }

    .ser-sect2-der {
        margin: 0px auto; /*0*/
        padding: 0 0px; /*30*/
    }

    .ser-sect3-der {
        margin: 0px auto; /*0*/
        padding: 0 0px; /*30*/
    }

    .nos-sect2-titulo {
        font-size: 25px;
        margin-bottom: 10px; /*15*/
    }

    .nos-sect3-izq, .nos-sect3-der {
        margin: 0px 0;
    }

    .ser-sect3-izq, .ser-sect3-der {
        margin: 0px 0;
    }

    .nos-sect3 {
        padding: 0 45px;
        margin-bottom: 60px;
    }

    .ser-sect3 {
        padding: 0 45px;
        margin-bottom: 0px;
    }

    .nos-sect3-visible {
        padding: 0 15px;
    }

    .ser-sect3-visible {
        padding: 0 15px;
    }

    .nos-sect3-backgIzq, .nos-sect3-backgDer {
        padding: 0px;
    }

    .ser-sect3-backgIzq, .ser-sect3-backgDer {
        padding: 0px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 280px;
    }

    .ser-cuadros {
        padding: 0 15px;
    }

    .ser-img-der {
        margin-left: auto;
        margin-right: 46px;
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
        height: 264px;
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
        height: 260px;
        color: white;
        padding-top: 25px;
        margin-bottom: 50px;
    }

    /*.ben-sect4-izq, .ben-sect4-der {
        margin-bottom: 100px;
    }*/
    .ben-sect3-der {
        padding-bottom: 0;
        background-image: url('../img/beneficios/contenedor.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /*height: 370px;*/
    }

    .ben-sect4-der {
        padding-bottom: 0;
        background-image: url('../img/beneficios/contenedor.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /*height: 230px;*/
    }

    .con-radio1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .con-radio2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

}

/*Fin 768*/

@media (min-width: 992px) {
    .espacio-sliderclientes {
        padding-left: 100px;
        padding-right: 100px;
    }

    .formulario-contactenos {
        padding-left: 200px;
        padding-right: 200px;
    }

    .nos-sect2-izq div {
        font-size: 16px;
    }

    .ser-sect2-parr2 div {
        font-size: 16px;
    }

    .ser-sect2-abajo div {
        font-size: 16px;
    }

    .f-txt3 {
        margin-top: 0px;
    }

    .f-txt1 {
        margin-top: 3px;
    }

    .f-txt2 {
        margin-top: 8px;
    }

    .ini-beneficios-guion {
        padding: 0 0px;
    }

    .ini-beneficios-izqfoto img {
        margin-left: 0;
        margin-right: 0;
        top: -90px;
        position: absolute;
    }

    .ini-servicios-izqfoto img {
        margin-left: 0;
        margin-right: 0;
        top: -75px;
        position: absolute;
    }

    .padiconinicio {
        padding-left: 0px;
    }

    .padtextinicio {
        padding-left: 0px;
        padding-right: 0px;
    }

    .f-txt1 img {
        margin-left: 10px;
    }

    .ini-tabla {
        top: 30px;
        /*left: 22.5%;*/
        margin-left: 25%;
        /*margin-right: 350px;*/
    }

    .ini-tabla span {
        font-size: 45px;
    }

    .ini-servicios-derimg {
        position: relative;
        top: 294px;
        right: 0px;
    }

    .ini-servicios-centro {
        color: white;
        padding: 0;
        margin-top: -20px;
    }

    .ini-img-redondo1 {
        position: absolute;
        top: -90px;
        right: 25px;
        height: 480px;
        width: 480px;
    }

    .ini-img-redondo1beneficios {
        position: absolute;
        top: -90px;
        /*right: 25px;*/
        height: 480px;
        width: 480px;
    }

    .ini-servicios-guion {
        margin-bottom: 3px;
        font-size: 16px;
    }

    .ini-servicios-titulo {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .ini-servicios-tab {
        padding-left: 26px;
    }

    /*** beneficios ***/
    .ini-beneficios-derimg {
        position: relative;
        top: 317px;
        right: 0px;
    }

    .ini-beneficios-centro {
        color: white;
        padding: 0;
    }

    .ini-beneficios-guion {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .ini-beneficios-titulo {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .ini-beneficios-tab {
        padding-left: 23px;
    }

    .ini-servicios-guion img {
        height: 16px;
        width: 16px;
    }

    .ini-servicios-btn {
        border-radius: 10px;
        border: solid 2px white;
        padding: 5px 20px;
        display: inline-block;
        color: white;
        margin-top: 20px;
        font-size: 16px;
    }

    .ini-sect-servicios {
        padding-top: 40px;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        height: 395px;
        /*height: 138px;*/
    }

    .ini-s1-parrafo h4 {
        font-size: 18px;
    }

    .h-nav-oculto {
        /*background: green;*/
        padding-left: 0;
        padding-right: 0;
        margin-top: 32px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .h-nav-oculto li a {
        font-size: 16px;
    }

    .h-contain-oculto {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
    }

    .h-nav-inicio {
        text-align: left;
    }

    .ini-servicios-block1 {
        display: inline-block !important;
        position: relative;
        top: -24px;
    }

    .ini-servicios-block2 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .ini-servicios-block3 {
        display: inline-block !important;
        position: relative;
        top: -2px;

    }

    .ini-servicios-block4 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .h-logo-oculto img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 220px;
    }

    .h-nav-nosotros {
        /*text-align: left;*/
        padding-left: 0px;
    }

    .h-redesSoc {
        margin-top: -70px;
        margin-right: 7%;
    }

    .f-txt1 img {
        margin-left: 10px;
        margin-top: 0px;
    }

    .nos-bienv-backg h2, .ser-bienv-backg h2 {
        bottom: 50px;
        left: 70px;
    }

    .ser-bienv-backg h2 {
        bottom: 50px;
        left: 70px;
    }

    .ben-bienv-titulo2 {
        font-size: 40px;
    }

    .ben-bienv-backg h2 {
        bottom: 50px;
        left: 70px;
        font-size: 26px;
    }

    .con-bienv-backg h2 {
        bottom: 95px;
        left: 625px;
        font-size: 26px;
    }

    .nos-sect2-der {
        padding-right: 60px;
    }

    .ser-sect2-der {
        padding-right: 85px;
    }

    .ser-sect3-der {
        padding-right: 85px;
    }

    .nos-sect2-izq {
        margin-top: 0px;
        padding: 0 15px;
    }

    .ser-sect2-izq {
        margin-top: 0px;
        padding: 0 15px;
    }

    .nos-sect3-backgIzq, .nos-sect3-backgDer {
        padding: 45px;
    }

    .ser-sect3-backgIzq, .ser-sect3-backgDer {
        padding: 45px;
    }

    .nos-sect2-arriba {
        margin-bottom: 50px; /*50*/
    }

    .nos-sect2-der {
        margin: 0px auto; /*0*/
        padding: 30 0px; /*30*/
    }

    .ser-sect2-der {
        margin: 0px auto;
        padding: 30 0px;
    }

    .nos-sect2-titulo {
        font-size: 25px !important;
        margin-bottom: 15px; /*15*/
    }

    .ser-sect2-titulo {
        font-size: 25px !important;
        margin-bottom: 40px; /*15*/
    }

    .ser-bienv-backg {
        margin-top: 157px;
        height: 400px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 190px;
    }

    .ser-sect3 {
        padding: 0 45px;
        margin-bottom: 0px; /*60*/
    }

    .ser-img-der {
        margin-left: auto;
        margin-right: auto;
    }

    .ini-tabla2 {
        left: -20%;
    }

    .ini-tabla3 {
        left: 11%;
    }

    .nos-img-icono {
        height: 16px;
        width: 16px;
    }

    .ser-img-icono {
        height: 16px;
        width: 16px;
    }

    .ser-backg-txt3 {
        padding-left: 0px;
        padding-right: 0px;

    }

    .ben-bienv-backg {
        margin-top: 157px;
        height: 417px;
    }

    .con-bienv-backg {
        margin-top: 157px;
        height: 345px;
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
        height: 216px;
        padding-top: 30px;
    }

}

/*Fin 992*/

@media (min-width: 1008px) {
    .ini-beneficios-derimg {
        top: 294px;
        right: 0px;
    }
}

@media (min-width: 1119px) {
    .ini-beneficios {
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 55px 0;
    }

    .ini-beneficios-derimg {
        top: 278px;
        right: 0px;
    }
}

@media (min-width: 1200px) {
    .espacio-sliderclientes {
        padding-left: 250px;
        padding-right: 250px;
    }

    .formulario-contactenos {
        padding-left: 300px;
        padding-right: 300px;
    }

    .ini-beneficios-izqfoto img {
        margin-left: 0;
        margin-right: 0;
        top: -55px;
        position: absolute;
    }

    .ini-tabla {
        top: 45px;
        /* left: 27.5%; */
        margin-left: 25%;
        /*margin-right: 315px;*/
    }

    .ini-tabla span {
        font-size: 45px;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        height: 420px;
    }

    /*.ini-servicios-der {
        padding-left: 15px;
        padding-right: 15px;
    }*/
    .ini-servicios-derimg {
        position: relative;
        top: 264px;
        right: -15px;
    }

    .ini-servicios-centro {
        color: white;
        padding-left: 33px;
        /*padding-right: 15px;*/
        margin-top: -30px;
    }

    .ini-img-redondo1 {
        position: absolute;
        top: -90px;
        right: 0px;
        height: 500px;
        width: 500px;
    }

    .ini-img-redondo1beneficios {
        position: absolute;
        top: -83px;
        /*right: 0px;*/
        height: 500px;
        width: 500px;
    }

    .ini-servicios-izq {
        padding-left: 0;
        padding-right: 0;
    }

    .ini-servicios-izqfoto {
        padding-left: 0;
        padding-right: 0;
    }

    .ini-servicios-guion {
        margin-bottom: 9px;
        font-size: 18px;
    }

    .ini-servicios-titulo {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .ini-servicios-guion img {
        height: 18px;
        width: 18px;
    }

    .ini-servicios-tab {
        padding-left: 29px;
    }

    /*** beneficios ***/
    .ini-beneficios-der {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ini-beneficios-derimg {
        position: relative;
        top: 324px;
        right: 15px;
    }

    .ini-beneficios-centro {
        color: white;
        padding-right: 45px;
        padding-left: 0px;
        /*padding-right: 15px;*/
    }

    .ini-beneficios-izq {
        padding-left: 0;
        padding-right: 0;
    }

    .ini-beneficios-izqfoto {
        padding-left: 0;
        padding-right: 0;
    }

    .ini-beneficios-guion {
        margin-bottom: 13px;
        font-size: 18px;
    }

    .ini-beneficios-titulo {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 18px;
    }

    .ini-beneficios-guion img {
        height: 18px;
        width: 18px;
    }

    .ini-beneficios-tab {
        padding-left: 26px;
    }

    .ini-servicios-btn {
        border-radius: 10px;
        border: solid 2px white;
        padding: 5px 20px;
        display: inline-block;
        color: white;
        margin-top: 20px;
        font-size: 18px;
    }

    .ini-beneficios-btn {
        border-radius: 10px;
        border: solid 2px white;
        padding: 5px 20px;
        display: inline-block;
        color: white;
        margin-top: 23px;
        font-size: 18px;
    }

    .ini-servicios {
        background: #015486;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 50px 0;
    }

    .ini-s1-sldr1, .ini-s1-sldr2, .ini-s1-sldr3 {
        height: 600px;
        /*height: 138px;*/
    }

    .h-nav li a {
        font-size: 18px;
    }

    /* nav oculto */
    .h-nav-oculto li a {
        font-size: 14px;
    }

    .h-contain-oculto {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 0;
    }

    .h-consultoria, .h-auditoria {
        font-size: 10px !important;
    }

    .ini-servicios-block1 {
        display: inline-block !important;
        position: relative;
        top: -25px;
    }

    .ini-servicios-block2 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .ini-servicios-block3 {
        display: inline-block !important;
        position: relative;
        top: -2px;

    }

    .ini-servicios-block4 {
        display: inline-block !important;
        padding-left: 1px;
    }

    .h-redesSoc {
        margin-top: -70px;
        margin-right: 7%;
    }

    .h-redesSoc a {
        margin-left: 5px;
        margin-right: 5px;
    }

    .ini-beneficios {
        padding: 25px 0;
    }

    .nos-bienv-backg h2, .ser-bienv-backg h2 {
        color: white;
        position: absolute;
        bottom: 75px;
        left: 133px;
        font-size: 40px;
        /*font-weight: bold;*/
        letter-spacing: 2px;
    }

    .ben-bienv-backg h2 {
        font-size: 32px;
    }

    .con-bienv-backg h2 {
        font-size: 32px;
    }

    .nos-col-img {
        width: 6.333333%;
    }

    .ser-col-img {
        width: 6.333333%;
    }

    .nos-sect2-izq {
        margin-top: 50px;
        padding: 15px;
    }

    .ser-sect2-izq {
        margin-top: 0px;
        padding: 15px;
    }

    .ser-bienv-backg {
        margin-top: 157px;
        height: 500px;
    }

    .ser-backg1, .ser-backg2, .ser-backg3, .ser-backg4 {
        height: 235px;
    }

    .ser-sect3 {
        padding: 0 45px;
        margin-bottom: 0px; /*60*/
    }

    .ser-sect2 {
        margin: 60px 0; /*margin: 60px 0;*/
        padding: 0 15px;
    }

    .ini-tabla2 {
        left: -20%;
    }

    .ini-tabla3 {
        left: 13%;
    }

    .ben-bienv-backg {
        margin-top: 157px;
        height: 500px;
    }

    .con-bienv-backg {
        margin-top: 157px;
        height: 470px;
    }

    .ben-bienv-titulo2 {
        font-size: 50px;
        font-weight: bold;
    }

    .ben-sect2-parr {
        padding: 0 100px;
    }

    .ben-sect2 {
        margin: 60px 0 50px;
    }

    .ben-sect3-izq, .ben-sect3-der, .ben-sect4-izq, .ben-sect4-der {
        height: 264px;
        padding-top: 50px;
    }

    .ser-sect2-fila {
        padding-left: 15px;
        padding-right: 15px;
    }

}

/*Fin 1200 */

@media (min-width: 1268px) {
    .ini-beneficios {
        padding: 35px 0;
    }

    .ini-beneficios-izqfoto img {
        margin-left: 0;
        margin-right: 0;
        top: -69px;
        position: absolute;
    }

    .ini-beneficios-derimg {
        top: 277px;
        right: 15px;
    }

}

@media (min-width: 1300px) {
    .ini-servicios-derimg {
        position: relative;
        top: 265px;
        right: -17%;
    }

    .ini-beneficios-derimg {
        position: relative;
        top: 277px;
        right: 15px;
    }

}
