doctype html
html(lang="es")
    head
        title COMPANY
        link(href="css/style.min.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet")
        script(src="scripts/vendor.min.js")
        script(src="scripts/app.min.js")
    body
        header
            section(class="h-header hidden-xs")
                div(class="container h-contain")
                    div(class="h-logo")
                        center
                            img(src="../../images/logo22.jpg")
                    div(class="h-redesSoc hidden-xs")
                        a(href="http://www.facebook.com" target="_blank")
                        img(class="h-redesSoc-img1" src="../../images/facebook.png")
                        img(class="h-redesSoc-img2" src="../../images/instagram.png")
                        img(class="h-redesSoc-img3" src="../../images/whatsapp.png")
                    div(class="h-nav col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10")
                        ul
                            li(class="h-opcs")
                                a(class="activePage" id="activeInicio" href="#index") Inicio
                            li(class="h-opcs")
                                a(class="activeNosotros" id="activeNosotros" href="#nosotros") Nosotros
                            li(class="h-opcs")
                                a(class="activeServicios" id="activeServicios" href="#servicios") Servicios
                            li(class="h-opcs")
                                a(class="activeContactenos" id="activeContactenos" href="#contactenos") Contáctenos
            section(class="hidden-xs h-header-oculto")
                div(class="container h-contain h-contain-oculto")
                    div(class="h-logo h-logo-oculto col-sm-3 col-md-3 col-lg-4")
                        img(src="../../images/logo22.jpg")
                    div(class="h-nav h-nav-oculto col-sm-9 col-md-9 col-lg-8")
                        ul
                            li(class="h-opcs h-nav-inicio")
                                a(class='activePage' id="activeInicio" href="#index") Inicio
                            li(class="h-opcs h-nav-nosotros")
                                a(id="activeNosotros" href="#nosotros") Nosotros
                            li(class="h-opcs h-servicios")
                                a(id="activeServicios" href="#servicios") Servicios
                            li(class="h-opcs")
                                a(id="activeContactenos" href="#contactenos") Contáctenos
            section(class="hidden-xs h-header-oculto")
                div(class="container h-contain h-contain-oculto")
                    div(class="h-logo h-logo-oculto col-sm-3 col-md-3 col-lg-4")
                        img(src="../../images/logo22.jpg")
                    div(class="h-nav h-nav-oculto col-sm-9 col-md-9 col-lg-8")
                        ul
                            li(class="h-opcs h-nav-inicio")
                                a(class='activePage' id="activeInicio" href="#inicio") Inicio
                            li(class="h-opcs h-nav-nosotros")
                                a(id="activeNosotros" href="#nosotros") Nosotros
                            li(class="h-opcs h-servicios")
                                a(id="activeServicios" href="#servicios") Servicios
                            li(class="h-opcs")
                                a(id="activeContactenos" href="#contactenos") Contáctenos
            section(class="section-general section-header-rp visible-xs")
                div(class="col-xs-3")
                    a(href="#index")
                        img(class="logo-menu-rp" src="../../images/logo22.jpg")
                div(class="sec-menu-rp")
                    button(class="btn-menu-rp" id="btn-open-menu")
                        div(class="line-btn-menu-rp")
                        div(class="line-btn-menu-rp")
                        div(class="line-btn-menu-rp")
            section(class="menu-rp")
                div(class="col-xs-12 sec-close-menu text-right")
                    button(class="btn-close-menu no-btn" id="btn-close-menu")
                        span(class="menu-rp-btn" aria-hidden="true")
                div(class="col-xs-12 text-center sec-lista-menu-rp")
                    div(class="section-block sec-link-menu-rp")
                        a(class="activePageM" id="activeInicio" href="#inicio") INICIO
                    div(class="section-block sec-link-menu-rp")
                        a(id="activeNosotros" href="#nosotros") NOSOTROS
                    div(class="section-block sec-link-menu-rp")
                        a(id="activeServicios" href="#servicios") SERVICIOS
                    div(class="section-block sec-link-menu-rp")
                        a(id="activeContactenos" href="#contactenos") CONTÁCTENOS

            script(src="../scripts/rotation.js")

    section(class="section-general")
        div(class="container-fluid ini-carousel ini-carousel-oculto")
            div(class="col-xs-12 np")
                div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                    ol(class="carousel-indicators")
                        li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
                        li(data-target="#carousel-example-generic" data-slide-to="1")
                        li(data-target="#carousel-example-generic" data-slide-to="2")
                    div(class="carousel-inner" role="listbox")
                        div(class="item active ini-s1-sldr1 scrollflow -slide-bottom" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200")
                            div(class="col-xs-12 ini-tabla ini-tabla1")
                                div(class="col-xs-12 ini-s1-txt")
                                    h2(class="ini-s1-h2 scrollflow -slide-top" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200") VIVE UNA GRAN <br><span>EXPERIENCIA</span>
                                div(class="ini-s1-parrafo col-xs-12")
                                    h4 Brindamos servicios de Consultoría en <br class="hidden-xs"> Implementación de Sistemas de Gestión.
                        div(class="item ini-s1-sldr2 scrollflow -slide-bottom" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200")
                            div(class="col-xs-12 ini-tabla ini-tabla2")
                                div(class="col-xs-12 ini-s1-txt")
                                    h2(class="ini-s1-h2 scrollflow -slide-top" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200") VIVE UNA GRAN <br><span>EXPERIENCIA</span>
                                div(class="ini-s1-parrafo col-xs-12")
                                    h4 Brindamos servicios de Consultoría en <br class="hidden-xs"> Implementación de Sistemas de Gestión.
                        div(class="item ini-s1-sldr3 scrollflow -slide-bottom" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200")
                            div(class="col-xs-12 ini-tabla ini-tabla3")
                                div(class="col-xs-12 ini-s1-txt")
                                    h2(class="ini-s1-h2 scrollflow -slide-top" data-scrollflow-start="0" data-scrollflow-distance="100" data-scrollflow-amount="200") VIVE UNA GRAN <br><span>EXPERIENCIA</span>
                                div(class="ini-s1-parrafo col-xs-12")
                                    h4 Brindamos servicios de Consultoría en <br class="hidden-xs"> Implementación de Sistemas de Gestión.



    section(id="nosotros")
        div(class="container")
            div(class="nos-sect2 col-xs-12")
                div(class="nos-sect2-izq col-xs-12 col-sm-6")
                    div(class="nos-sect2-arriba col-xs-12")
                        div(class="nos-sect2-titulo col-xs-12") Quiénes Somos
                        div(class="nos-sect2-parr1 col-xs-12") Somos una empresa dedicada a brindar consultoría en implementación de sistemas de gestión y soluciones integrales en mejora de procesos, contribuyendo de manera significativa al cumplimiento de objetivos y metas de nuestros clientes.
                    div(class="nos-sect2-abajo col-xs-12")
                        div(class="nos-sect2-titulo col-xs-12") Nuestros Valores
                        div(class="nos-sect2-parr2 col-xs-12")
                            div(class="nos-sect2-fila col-xs-12")
                                img(class="nos-img-icono" src="app/img/nosotros/icon1.png")
                                span(class="nos-sect2-tab") Orientación al cliente
                            div(class="nos-sect2-fila col-xs-12")
                                img(class="nos-img-icono" src="app/img/nosotros/icon1.png")
                                span(class="nos-sect2-tab") Trabajo en equipo
                            div(class="nos-sect2-fila col-xs-12")
                                img(class="nos-img-icono" src="app/img/nosotros/icon1.png")
                                span(class="nos-sect2-tab") Compromiso
                            div(class="nos-sect2-fila col-xs-12")
                                img(class="nos-img-icono" src="app/img/nosotros/icon1.png")
                                span(class="nos-sect2-tab") Innovación
                div(class="nos-sect2-der col-xs-12 col-sm-6")
                    img(src="app/img/nosotros/foto3.png" class="img-responsive")



    section
        div(id="servicios" class="container")
            div(class="ser-sect3 col-xs-12")
                div(class="ser-sect2-titulo col-xs-12") ESTÁNDARES INTERNACIONALES
                div(class="ser-cuadros col-xs-12")
                    div(id="ser-backg31" class="ser-backg1 col-xs-12 col-sm-6 col-md-3")
                        div(class="ser-backg-txt col-xs-12")
                            div(class="ser-backg-txt1 col-xs-12") ISO
                            div(class="ser-backg-txt2 col-xs-12") 9001:2015
                            div(id="ser-backg-txt31" class="ser-backg-txt3 animated bounceInUp col-xs-12") Sistema de Gestión de la Calidad
                    div(id="ser-backg32" class="ser-backg2 col-xs-12 col-sm-6 col-md-3")
                        div(class="ser-backg-txt col-xs-12")
                            div(class="ser-backg-txt1 col-xs-12") ISO
                            div(class="ser-backg-txt2 col-xs-12") 45001:2018
                            div(id="ser-backg-txt32" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión de la Seguridad y Salud en el Trabajo
                    div(id="ser-backg33" class="ser-backg3 col-xs-12 col-sm-6 col-md-3")
                        div(class="ser-backg-txt col-xs-12")
                            div(class="ser-backg-txt1 col-xs-12") ISO
                            div(class="ser-backg-txt2 col-xs-12") 14001:2015
                            div(id="ser-backg-txt33" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión Ambiental
                    div(id="ser-backg34" class="ser-backg4 col-xs-12 col-sm-6 col-md-3")
                        div(class="ser-backg-txt col-xs-12")
                            div(class="ser-backg-txt1 col-xs-12") ISO
                            div(class="ser-backg-txt2 col-xs-12") 17025:2017
                            div(id="ser-backg-txt34" class="ser-backg-txt3 animated bounceInUp  col-xs-12") Sistema de Gestión para Laboratorios de Ensayo y Calibración
        div(class="espacio-sliderclientes")
            div(class="sliderclientes" id="wrapper")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/1.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/2.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/3.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/4.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/5.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/6.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/7.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/8.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/9.jpg" class="img-responsive")
                div(class="text-center")
                    center
                        img(src="app/img/inicio/clientes/10.jpg" class="img-responsive")



    section(class="ini-ayuda")
        div(class="ini-ayuda-backg col-xs-12")
            div(class="ini-ayuda-contenido col-xs-12")
                center(class="ini-ayuda-txt")
                    h2  ¿Necesitas ayuda? <br> No dudes en consultarnos



    section(id="contactenos" class="contacto-datos")
        div(class="container")
            div(class="pad1-contactenos col-xs-12  col-sm-12 col-md-12")
                div(class="titulo-contactenos")
                    h2 Contáctenos
                div(class="subrayado-contactenos")
            div(class="pad2-contactenos col-xs-12")
                div(class="datos-contacto col-xs-12 col-sm-12 col-md-offset-1 col-md-10")
                    div(class="dato-contacto col-xs-12 col-sm-4 col-md-4")
                        center
                            div(class="telf-contacto")
                                img(src="app/img/cel.png")
                            div(class="name-contacto")
                                p Teléfono
                            div(class="mas-contacto")
                                p L a V 8:30 am - 6pm <br> (511)463-3434
                    div(class="dato-contacto col-xs-12 col-sm-4 col-md-4")
                        center
                            div(class="direccion-contacto")
                                img(src="app/img/point.png")
                            div(class="name-contacto")
                                p Dirección
                            div(class="mas-contacto")
                                p Av. Guiseppe Garibaldi N°396 <br> Jesús María - Lima
                    div(class="dato-contacto col-xs-12 col-sm-4 col-md-4")
                        center
                            div(class="correo-contacto")
                                img(src="app/img/email.png")
                            div(class="name-contacto")
                                p Correo
                            div(class="mas-contacto")
                                p turismo@camaradelima.org.pe
            div(class="texto-contactenos col-xs-12")
                center Si tienes alguna consulta, completa el siguente <br> formulario y comunicate con nosotros
            div(class="formulario-contactenos")
                div(class="col-xs-12 col-sm-12 col-md-12")
                    form(name="frmcontactenos" id="frmcontactenos")
                        div(class="row form-content")
                            div(class="col-xs-12")
                                div(class="form-group")
                                    input(type="text" class="form-control estilo-llenadoform" name="nombre" id="nombre" placeholder="Nombres")
                            div(class="col-xs-12")
                                div(class="form-group")
                                    input(type="text" class="form-control estilo-llenadoform" name="apellidos" id="apellidos" placeholder="Apellidos")
                            div(class="col-xs-12")
                                div(class="form-group")
                                    input(type="text" class="form-control estilo-llenadoform" name="telefono" id="telefono" placeholder="Teléfono / Celular")
                        div(class="row form-content")
                            div(class="col-xs-12")
                                div(class="form-group")
                                    input(type="email" class="form-control estilo-llenadoform" name="correo" id="correo" placeholder="Correo Eléctronico")
                            div(class="col-xs-12")
                                div(class="form-group")
                                    input(type="text" class="form-control estilo-llenadoform" name="celular" id="celular" placeholder="Celular")
                        div(class="form-group")
                            textarea(class="form-control textar cambio-mensaje estilo-llenadoform" name="mensaje" id="mensaje" placeholder="Consulta / Mensaje")
                        div(class="text-right")
                            button(type="submit" class="btn-send estilo-btnenviar" id="EnviarForm") Enviar
                        div(id="dialog" title="Mensaje Contáctenos" style="display:none;")
                            p(id="rpta")
                    script(src="../scripts/validations.js")

    footer
        div(class="f-footer col-xs-12")
            section(class="f-back1")
                div(class="container")
                    div(class="col-xs-12")
                        div(class="visible-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt3_oculto")
                            img(src="app/img/inicio/Logo2.png")
                        div(class="hidden-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt1")
                            a(href="#" target="_blank")
                                h5 Síguenos en facebook
                                    img(class="img-reponsive" src="app/img/inicio/fb.png")
                                    img(class="img-reponsive" src="app/img/inicio/insta.png")
                        div(class="col-xs-12 col-sm-4 col-md-4 f-txt f-txt2")
                            a(href="#" target="_blank")
                                h5(class="scrollflow -pop -opacity") informes@companyperu.com
                        div(class="hidden-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt3")
                            img(src="app/img/inicio/ol/logo222.png")
                        div(class="visible-xs col-xs-12 col-sm-4 col-md-4 f-txt f-txt1_oculto")
                            a(href="#" target="_blank")
                                h5 facebook &nbsp
                                    img(class="img-reponsive" src="app/img/inicio/fb.png")
                            a(href="#" target="_blank")
                                h5 instagram &nbsp
                                    img(class="img-reponsive" src="app/img/inicio/insta.png")
